{% extends "questi/index.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}Questions{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans %}Questions{% endblocktrans %}</h1>
    <div class="question_list">
        {% for question in question_list %}
            <div class="question_item">
                <div class="question_summary">
                    <div class="votes">
                        <span>{{ question.get_rate }}</span>
                        <div>{% blocktrans %}Votes{% endblocktrans %}</div>
                    </div>
                    <div class="answers">
                        <span>{{ question.answer_set.count }}</span>
                        <div>{% blocktrans %}Answers{% endblocktrans %}</div>
                    </div>
                    <div class="views">
                        <span>{{ question.views }}</span>
                        <div>{% blocktrans %}Views{% endblocktrans %}</div>
                    </div>
                </div>
                <div class="question_content">
                    <a class="question_title" href="{% url 'question_detail' question.id %}">
                        {{ question.title }}
                    </a>
                    <div class="question_creationtime">{{ question.get_time_as_string }}</div>
                </div>
            </div>
        {% empty %}
            <p>{% blocktrans %}No answers{% endblocktrans %}</p>
        {% endfor %}
    </div>
{% endblock %}