{% extends "questi/index.html" %}
{% load static %}

{% block extra_head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var post_data = {'csrfmiddlewaretoken': '{{ csrf_token }}'}

            $("div.vote_up").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/question/{{ question.id }}/vote_up/",
                    data: post_data,
                    success: function (data) {
                        alert('funktioniert');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Error, status=" + textStatus + ", " + "error thrown: " + errorThrown);
                    }
                });
            })
        });

    </script>
{% endblock %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="question_detail">
        <div class="question_title">
            {{ question.title }}
        </div>
        <div class="question_vote">
            <div class="vote_up fa fa-chevron-up"></div>
            <span>{{ question.get_rate }}</span>
            <div class="vote_down fa fa-chevron-down"></div>
        </div>
        <div class="question_content">
            <div class="question_text">
                {{ question.text }}
            </div>
        </div>
    </div>
    <div class="result"></div>
{% endblock %}

